<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.database.core.dao.ReportMapper">
  <resultMap id="BaseResultMap" type="com.topie.database.core.model.Report">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="report_id" jdbcType="INTEGER" property="reportId" />
    <result column="report_name" jdbcType="VARCHAR" property="reportName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="report_template_name" jdbcType="VARCHAR" property="reportTemplateName" />
    <result column="summary_template_name" jdbcType="VARCHAR" property="summaryTemplateName" />
    <result column="report_type" jdbcType="SMALLINT" property="reportType" />
    <result column="report_category" jdbcType="SMALLINT" property="reportCategory" />
    <result column="report_period" jdbcType="SMALLINT" property="reportPeriod" />
  </resultMap>
</mapper>