<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.topie.database.core.model.User">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="display_name" property="displayName" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="account_non_locked" property="accountNonLocked" jdbcType="BIT"/>
        <result column="account_non_expired" property="accountNonExpired" jdbcType="BIT"/>
        <result column="credentials_non_expired" property="credentialsNonExpired" jdbcType="BIT"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="last_password_reset" property="lastPasswordReset" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="UserVoMap" type="com.topie.security.vo.UserVO">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="display_name" property="displayName" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="account_non_locked" property="accountNonLocked" jdbcType="BIT"/>
        <result column="account_non_expired" property="accountNonExpired" jdbcType="BIT"/>
        <result column="credentials_non_expired" property="credentialsNonExpired" jdbcType="BIT"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="last_password_reset" property="lastPasswordReset" jdbcType="TIMESTAMP"/>

    </resultMap>

    <resultMap id="FunctionVoMap" type="com.topie.security.vo.FunctionVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <id column="function_name" property="functionName" jdbcType="VARCHAR"/>
        <id column="icon" property="icon" jdbcType="VARCHAR"/>
        <id column="action" property="action" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        id, login_name, password, display_name, enabled, account_non_locked, account_non_expired,
        credentials_non_expired, last_login_ip, last_login_time, email, contact_phone, insert_time,
        update_time,last_password_reset
    </sql>
    <update id="updateAccountNonLocked">
        update d_user set account_non_locked = #{accountNonLocked} where id=#{userId}
    </update>
    <delete id="deleteUserAllRoles">
        delete from d_user_role where user_id=#{userId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteUserRole">
        delete from d_user_role where user_id=#{userId,jdbcType=INTEGER} and role_id=#{roleId,jdbcType=INTEGER}
    </delete>
    <select id="findUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_user
        where login_name = #{loginName,jdbcType=VARCHAR}
    </select>
    <insert id="insertUserRole" parameterType="java.lang.Integer">
        insert ignore into d_user_role (user_id,role_id) values(#{userId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER});
    </insert>
    <select id="findUserRoleByUserId" parameterType="java.lang.Integer"
            resultType="java.lang.Integer">
        select
        role_id
        from d_user_role
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="findUserList" parameterType="com.topie.database.core.model.User"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_user
        <where>
            <if test="displayName != null and displayName != ''">
                display_name like concat('%',concat(#{displayName}, '%'))
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name like concat('%',concat(#{loginName}, '%'))
            </if>
            <if test="email != null and email != ''">
                and email like concat('%',concat(#{email}, '%'))
            </if>
            <if test="contactPhone != null and contactPhone != ''">
                and contact_phone like concat('%',concat(#{contactPhone}, '%'))
            </if>
        </where>
        <if test="sort_ != null and sort_ != ''">
            ${sort_}
        </if>
    </select>
    <select id="findExistUser" resultType="java.lang.Integer">
        select count(1) from d_user
        <where>
            <if test="id != null and id != ''">
                id != #{id}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
        </where>
    </select>
    <select id="findUserFunction" resultMap="FunctionVoMap">
        select distinct f.id,f.parent_id,f.function_name,f.icon,f.`action`
        from d_user u left join d_user_role ur
        on u.id = ur.user_id left join d_role_function rf
        on ur.role_id=rf.role_id left join d_function f
        on rf.function_id = f.id
        where u.login_name = #{loginName} and f.display=1
    </select>
    <select id="countByLoginName" resultType="java.lang.Integer">
        select count(1) from d_user where login_name = #{loginName,jdbcType=VARCHAR}
    </select>
    <select id="findLoginNameByUserId" resultType="java.lang.String">
        select login_name from d_user where id=#{userId}
    </select>
</mapper>
