<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.AvianinfluenzaMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Avianinfluenza" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ai_reportId" property="aiReportid" jdbcType="CHAR" />
    <result column="ai_id" property="aiId" jdbcType="CHAR" />
    <result column="ai_regionCode" property="aiRegioncode" jdbcType="VARCHAR" />
    <result column="ai_regionName" property="aiRegionname" jdbcType="VARCHAR" />
    <result column="ai_date" property="aiDate" jdbcType="TIMESTAMP" />
    <result column="ai_inactivatedVaccine" property="aiInactivatedvaccine" jdbcType="DECIMAL" />
    <result column="ai_inactivatedImmuneAmountChicken" property="aiInactivatedimmuneamountchicken" jdbcType="DECIMAL" />
    <result column="ai_inactivatedImmuneAmountDuck" property="aiInactivatedimmuneamountduck" jdbcType="DECIMAL" />
    <result column="ai_inactivatedImmuneAmountGoose" property="aiInactivatedimmuneamountgoose" jdbcType="DECIMAL" />
    <result column="ai_inactivatedImmuneAmountOther" property="aiInactivatedimmuneamountother" jdbcType="DECIMAL" />
    <result column="ai_inactivatedShouldAmountChicken" property="aiInactivatedshouldamountchicken" jdbcType="DECIMAL" />
    <result column="ai_inactivatedShouldAmountDuck" property="aiInactivatedshouldamountduck" jdbcType="DECIMAL" />
    <result column="ai_inactivatedShouldAmountGoose" property="aiInactivatedshouldamountgoose" jdbcType="DECIMAL" />
    <result column="ai_inactivatedShouldAmountOther" property="aiInactivatedshouldamountother" jdbcType="DECIMAL" />
    <result column="ai_jointImmuneAmountChicken" property="aiJointimmuneamountchicken" jdbcType="DECIMAL" />
    <result column="ai_jointImmuneAmountDuck" property="aiJointimmuneamountduck" jdbcType="DECIMAL" />
    <result column="ai_jointImmuneAmountGoose" property="aiJointimmuneamountgoose" jdbcType="DECIMAL" />
    <result column="ai_jointImmuneAmountOther" property="aiJointimmuneamountother" jdbcType="DECIMAL" />
    <result column="ai_jointShouldAmountChicken" property="aiJointshouldamountchicken" jdbcType="DECIMAL" />
    <result column="ai_jointShouldAmountDuck" property="aiJointshouldamountduck" jdbcType="DECIMAL" />
    <result column="ai_jointShouldAmountGoose" property="aiJointshouldamountgoose" jdbcType="DECIMAL" />
    <result column="ai_jointShouldAmountOther" property="aiJointshouldamountother" jdbcType="DECIMAL" />
    <result column="ai_jointVaccine" property="aiJointvaccine" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectCumulative" resultMap="BaseResultMap">
  select * from animal_disease.b_avianinfluenza  where ai_date BETWEEN  #{beginTime} AND #{endTime}
</select>
  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(ai_inactivatedVaccine) ai_inactivatedVaccine,
    sum(ai_jointVaccine) ai_jointVaccine,
     sum(ai_jointImmuneAmountChicken) ai_jointImmuneAmountChicken,
    sum(ai_jointImmuneAmountDuck) ai_jointImmuneAmountDuck,
     sum(ai_jointImmuneAmountGoose) ai_jointImmuneAmountGoose,
    sum(ai_jointImmuneAmountOther) ai_jointImmuneAmountOther,
    sum(ai_inactivatedImmuneAmountChicken) ai_inactivatedImmuneAmountChicken,
    sum(ai_inactivatedImmuneAmountDuck) ai_inactivatedImmuneAmountDuck,
    sum(ai_inactivatedImmuneAmountGoose) ai_inactivatedImmuneAmountGoose,
    sum(ai_inactivatedImmuneAmountOther) ai_inactivatedImmuneAmountOther
    from animal_disease.b_avianinfluenza
    where ai_regionCode=#{regionCode} AND ai_date BETWEEN  #{beginTime} AND #{endTime}

  </select>
  <select id="selectAllByDate" resultMap="BaseResultMap">
     select
    sum(ai_inactivatedVaccine) ai_inactivatedVaccine,
    sum(ai_jointVaccine) ai_jointVaccine,
     sum(ai_jointImmuneAmountChicken) ai_jointImmuneAmountChicken,
    sum(ai_jointImmuneAmountDuck) ai_jointImmuneAmountDuck,
     sum(ai_jointImmuneAmountGoose) ai_jointImmuneAmountGoose,
    sum(ai_jointImmuneAmountOther) ai_jointImmuneAmountOther,
    sum(ai_inactivatedImmuneAmountChicken) ai_inactivatedImmuneAmountChicken,
    sum(ai_inactivatedImmuneAmountDuck) ai_inactivatedImmuneAmountDuck,
    sum(ai_inactivatedImmuneAmountGoose) ai_inactivatedImmuneAmountGoose,
    sum(ai_inactivatedImmuneAmountOther) ai_inactivatedImmuneAmountOther
    from animal_disease.b_avianinfluenza
    where  ai_date BETWEEN  #{beginTime} AND #{endTime}
    GROUP  by ai_regionCode
    order by ai_regionCode
  </select>
</mapper>