<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.BlueeardiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Blueeardisease" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="bed_id" property="bedId" jdbcType="CHAR" />
    <result column="bed_reportId" property="bedReportid" jdbcType="CHAR" />
    <result column="bed_date" property="bedDate" jdbcType="TIMESTAMP" />
    <result column="bed_regionCode" property="bedRegioncode" jdbcType="VARCHAR" />
    <result column="bed_regionName" property="bedRegionname" jdbcType="VARCHAR" />
    <result column="bed_inactivatedVaccine" property="bedInactivatedvaccine" jdbcType="DECIMAL" />
    <result column="bed_inactivatedImmuneAmount" property="bedInactivatedimmuneamount" jdbcType="DECIMAL" />
    <result column="bed_inactivatedShouldAmount" property="bedInactivatedshouldamount" jdbcType="DECIMAL" />
    <result column="bed_weakVaccine" property="bedWeakvaccine" jdbcType="DECIMAL" />
    <result column="bed_weakImmuneAmount" property="bedWeakimmuneamount" jdbcType="DECIMAL" />
    <result column="bed_weakShouldAmount" property="bedWeakshouldamount" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectCumulative" resultMap="BaseResultMap">
    select * from animal_disease.b_blueeardisease  where bed_date BETWEEN  #{startDate} AND #{endDate}
  </select>
  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(bed_inactivatedVaccine) bed_inactivatedVaccine,
    sum(bed_inactivatedImmuneAmount) bed_inactivatedImmuneAmount,
    sum(bed_weakVaccine) bed_weakVaccine,
    sum(bed_weakImmuneAmount) bed_weakImmuneAmount
    from animal_disease.b_blueeardisease
    where bed_regionCode=#{regionCode} AND bed_date BETWEEN  #{beginTime} AND #{endTime}
  </select>
  <select id="selectAllByDate" resultMap="BaseResultMap">
    select t1.Liv_regionCode as bed_regionCode ,t1.Liv_regionName as bed_regionName,t2.* from
        (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
        LEFT JOIN
        ( select
        bed_regionCode,
    sum(bed_inactivatedVaccine) bed_inactivatedVaccine,
    sum(bed_inactivatedImmuneAmount) bed_inactivatedImmuneAmount,
    sum(bed_weakVaccine) bed_weakVaccine,
    sum(bed_weakImmuneAmount) bed_weakImmuneAmount
    from animal_disease.b_blueeardisease
    where  bed_date BETWEEN  #{beginTime} AND #{endTime}
    GROUP  by bed_regionCode
     ) as t2
        on t1.Liv_regionCode=t2.bed_regionCode
        ORDER  by t1.Liv_regionCode
  </select>
</mapper>