<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.BrucellosisDiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.BrucellosisDisease" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="bru_id" property="bruId" jdbcType="CHAR" />
    <result column="bru_reportId" property="bruReportid" jdbcType="CHAR" />
    <result column="bru_date" property="bruDate" jdbcType="TIMESTAMP" />
    <result column="bru_regionCode" property="bruRegioncode" jdbcType="VARCHAR" />
    <result column="bru_regionName" property="bruRegionname" jdbcType="VARCHAR" />
    <result column="bru_s2Vaccine" property="brus2Vaccine" jdbcType="DECIMAL" />
    <result column="bru_s2NiuImmuneAmount" property="brus2Niuimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_s2NiuShouldAmount" property="brus2Niushouldamount" jdbcType="DECIMAL" />
    <result column="bru_m5Vaccine" property="brum5Vaccine" jdbcType="DECIMAL" />
    <result column="bru_m5NiuImmuneAmount" property="brum5Niuimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_m5NiuShouldAmount" property="brum5Niushouldamount" jdbcType="DECIMAL" />
    <result column="bru_a19Vaccine" property="brua19Vaccine" jdbcType="DECIMAL" />
    <result column="bru_a19NiuImmuneAmount" property="brua19Niuimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_a19NiuShouldAmount" property="brua19Niushouldamount" jdbcType="DECIMAL" />

    <result column="bru_s2SheepImmuneAmount" property="brus2Sheepimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_s2SheepShouldAmount" property="brus2Sheepshouldamount" jdbcType="DECIMAL" />
    <result column="bru_m5SheepImmuneAmount" property="brum5Sheepimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_m5SheepShouldAmount" property="brum5Sheepshouldamount" jdbcType="DECIMAL" />
    <result column="bru_a19SheepImmuneAmount" property="brua19Sheepimmuneamount" jdbcType="DECIMAL" />
    <result column="bru_a19SheepShouldAmount" property="brua19Sheepshouldamount" jdbcType="DECIMAL" />

  </resultMap>

  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(bru_s2Vaccine) bru_s2Vaccine,
    sum(bru_s2NiuImmuneAmount) bru_s2NiuImmuneAmount,
    sum(bru_s2SheepImmuneAmount) bru_s2SheepImmuneAmount,
    sum(bru_m5Vaccine) bru_m5Vaccine,
    sum(bru_m5NiuImmuneAmount) bru_m5NiuImmuneAmount,
    sum(bru_m5SheepImmuneAmount) bru_m5SheepImmuneAmount,
    sum(bru_a19Vaccine) bru_a19Vaccine,
    sum(bru_a19NiuImmuneAmount) bru_a19NiuImmuneAmount,
    sum(bru_a19SheepImmuneAmount) bru_a19SheepImmuneAmount
    from animal_disease.b_brucellosisdisease
    where bru_regionCode=#{regionCode} AND bru_date BETWEEN  #{beginTime} AND #{endTime}
  </select>
  <select id="selectAllByDate" resultMap="BaseResultMap">
    select t1.Liv_regionCode as bru_regionCode ,t1.Liv_regionName as bru_regionName,t2.* from
    (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
    LEFT JOIN
    ( select
    bru_regionCode,
    sum(bru_s2Vaccine) bru_s2Vaccine,
    sum(bru_s2NiuImmuneAmount) bru_s2NiuImmuneAmount,
    sum(bru_s2SheepImmuneAmount) bru_s2SheepImmuneAmount,
    sum(bru_m5Vaccine) bru_m5Vaccine,
    sum(bru_m5NiuImmuneAmount) bru_m5NiuImmuneAmount,
    sum(bru_m5SheepImmuneAmount) bru_m5SheepImmuneAmount,
    sum(bru_a19Vaccine) bru_a19Vaccine,
    sum(bru_a19NiuImmuneAmount) bru_a19NiuImmuneAmount,
    sum(bru_a19SheepImmuneAmount) bru_a19SheepImmuneAmount
    from animal_disease.b_brucellosisdisease
    where  bru_date BETWEEN  #{beginTime} AND #{endTime}
    GROUP  by bru_regionCode
    ) as t2
    on t1.Liv_regionCode=t2.bru_regionCode
    ORDER  by t1.Liv_regionCode
  </select>
</mapper>