<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.EchinococciasisVaccineMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.EchinococciasisVaccine" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ech_id" property="echId" jdbcType="CHAR" />
    <result column="ech_reportId" property="echReportid" jdbcType="CHAR" />
    <result column="ech_regionCode" property="echRegioncode" jdbcType="VARCHAR" />
    <result column="ech_regionName" property="echRegionname" jdbcType="VARCHAR" />
    <result column="ech_date" property="echDate" jdbcType="TIMESTAMP" />
    <result column="ech_anthelminticUseCount" property="echAnthelminticusecount" jdbcType="DECIMAL" />
    <result column="ech_vaccineUseCount" property="echVaccineusecount" jdbcType="DECIMAL" />
    <result column="ech_anthelminticStoreCount" property="echAnthelminticstorecount" jdbcType="DECIMAL" />
    <result column="ech_vaccineStoreCount" property="echVaccinestorecount" jdbcType="DECIMAL" />
    <result column="ech_anthelminticYearCount" property="echAnthelminticyearcount" jdbcType="DECIMAL" />
    <result column="ech_vaccineYearCount" property="echVaccineyearcount" jdbcType="DECIMAL" />
    <result column="ech_anthelminticOtherUseCount" property="echAnthelminticotherusecount" jdbcType="DECIMAL" />
    <result column="ech_anthelminticOtheStoreCount" property="echAnthelminticothestorecount" jdbcType="DECIMAL" />
    <result column="ech_anthelminticOtheYearCount" property="echAnthelminticotheyearcount" jdbcType="DECIMAL" />
    <result column="ech_immuneDogCount" property="echImmunedogcount" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectAllByDate" resultMap="BaseResultMap">
    select t1.Liv_regionCode as ech_regionCode ,t1.Liv_regionName as ech_regionName,t2.* from
    (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
    LEFT JOIN
    ( select  * from animal_disease.b_echinococciasisvaccine
    where  ech_date BETWEEN  #{beginTime} AND #{endTime}
    ) as t2
    on t1.Liv_regionCode=t2.ech_regionCode
    ORDER  by t1.Liv_regionCode
  </select>
</mapper>