<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.FootandmouthdiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Footandmouthdisease" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="fmd_id" property="fmdId" jdbcType="CHAR" />
    <result column="fmd_reportId" property="fmdReportid" jdbcType="CHAR" />
    <result column="fmd_date" property="fmdDate" jdbcType="TIMESTAMP" />
    <result column="fmd_regionCode" property="fmdRegioncode" jdbcType="VARCHAR" />
    <result column="fmd_regionName" property="fmdRegionname" jdbcType="VARCHAR" />
    <result column="fmd_inactivatedVaccine" property="fmdInactivatedvaccine" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedImmuneAmountPig" property="fmdInactivatedimmuneamountpig" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedImmuneAmountNiu" property="fmdInactivatedimmuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedImmuneAmountSheep" property="fmdInactivatedimmuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedImmuneAmountOther" property="fmdInactivatedimmuneamountother" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedShouldAmountPig" property="fmdInactivatedshouldamountpig" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedShouldAmountNiu" property="fmdInactivatedshouldamountniu" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedShouldAmountSheep" property="fmdInactivatedshouldamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_inactivatedShouldAmountOther" property="fmdInactivatedshouldamountother" jdbcType="DECIMAL" />
    <result column="fmd_syntheticVaccine" property="fmdSyntheticvaccine" jdbcType="DECIMAL" />
    <result column="fmd_syntheticImmuneAmountPig" property="fmdSyntheticimmuneamountpig" jdbcType="DECIMAL" />
    <result column="fmd_syntheticImmuneAmountNiu" property="fmdSyntheticimmuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_syntheticImmuneAmountSheep" property="fmdSyntheticimmuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_syntheticImmuneAmountOther" property="fmdSyntheticimmuneamountother" jdbcType="DECIMAL" />
    <result column="fmd_O2Vaccine" property="fmdO2vaccine" jdbcType="DECIMAL" />
    <result column="fmd_O2ImmuneAmountPig" property="fmdO2immuneamountpig" jdbcType="DECIMAL" />
    <result column="fmd_O2ImmuneAmountNiu" property="fmdO2immuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_O2ImmuneAmountSheep" property="fmdO2immuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_O2ImmuneAmountOther" property="fmdO2immuneamountother" jdbcType="DECIMAL" />
    <result column="fmd_OAVaccine" property="fmdOavaccine" jdbcType="DECIMAL" />
    <result column="fmd_OAImmuneAmountNiu" property="fmdOaimmuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_OAImmuneAmountSheep" property="fmdOaimmuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_OAAShudeImmuneAmountNiu" property="fmdOaashudeimmuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_OAAShudeImmuneAmountSheep" property="fmdOaashudeimmuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_AVaccine" property="fmdAvaccine" jdbcType="DECIMAL" />
    <result column="fmd_AImmuneAmountNiu" property="fmdAimmuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_AImmuneAmountSheep" property="fmdAimmuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_O3Vaccine" property="fmdO3vaccine" jdbcType="DECIMAL" />
    <result column="fmd_O3ImmuneAmountPig" property="fmdO3immuneamountpig" jdbcType="DECIMAL" />
    <result column="fmd_O3ImmuneAmountNiu" property="fmdO3immuneamountniu" jdbcType="DECIMAL" />
    <result column="fmd_O3ImmuneAmountSheep" property="fmdO3immuneamountsheep" jdbcType="DECIMAL" />
    <result column="fmd_O3ImmuneAmountOther" property="fmdO3immuneamountother" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(fmd_inactivatedVaccine) fmd_inactivatedVaccine,
    sum(fmd_inactivatedImmuneAmountPig) fmd_inactivatedImmuneAmountPig,
    sum(fmd_inactivatedImmuneAmountOther) fmd_inactivatedImmuneAmountOther,
    sum(fmd_inactivatedImmuneAmountSheep) fmd_inactivatedImmuneAmountSheep,
    sum(fmd_O2Vaccine) fmd_O2Vaccine,
    sum(fmd_O2ImmuneAmountPig) fmd_O2ImmuneAmountPig,
    sum(fmd_O2ImmuneAmountNiu) fmd_O2ImmuneAmountNiu,
    sum(fmd_O2ImmuneAmountSheep) fmd_O2ImmuneAmountSheep,
    sum(fmd_O2ImmuneAmountOther) fmd_O2ImmuneAmountOther,
    sum(fmd_O3Vaccine) fmd_O3Vaccine,
    sum(fmd_O3ImmuneAmountNiu) fmd_O3ImmuneAmountNiu,
    sum(fmd_O3ImmuneAmountSheep) fmd_O3ImmuneAmountSheep,
     sum(fmd_AVaccine) fmd_AVaccine,
    sum(fmd_AImmuneAmountNiu) fmd_AImmuneAmountNiu,
    sum(fmd_AImmuneAmountSheep) fmd_AImmuneAmountSheep
    from animal_disease.b_footandmouthdisease
    where fmd_regionCode=#{regionCode} AND fmd_date BETWEEN  #{beginTime} AND #{endTime}
  </select>
</mapper>