<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.LivestockdensityMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Livestockdensity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ld_id" property="ldId" jdbcType="CHAR" />
    <result column="ld_reportId" property="ldReportid" jdbcType="CHAR" />
    <result column="ld_regionCode" property="ldRegioncode" jdbcType="VARCHAR" />
    <result column="ld_regionName" property="ldRegionname" jdbcType="VARCHAR" />
    <result column="ld_date" property="ldDate" jdbcType="TIMESTAMP" />
    <result column="ld_pidHerdsCount" property="ldPidherdscount" jdbcType="DECIMAL" />
    <result column="ld_pigOShuldCount" property="ldPigoshuldcount" jdbcType="DECIMAL" />
    <result column="ld_pigOActualCount" property="ldPigoactualcount" jdbcType="DECIMAL" />
    <result column="ld_pigBShuldCount" property="ldPigbshuldcount" jdbcType="DECIMAL" />
    <result column="ld_pigBActualCount" property="ldPigbactualcount" jdbcType="DECIMAL" />
    <result column="ld_pigCShuldCount" property="ldPigcshuldcount" jdbcType="DECIMAL" />
    <result column="ld_pigCActualCount" property="ldPigcactualcount" jdbcType="DECIMAL" />
    <result column="ld_niuHerdsCount" property="ldNiuherdscount" jdbcType="DECIMAL" />
    <result column="ld_niuShuldCount" property="ldNiushuldcount" jdbcType="DECIMAL" />
    <result column="ld_niuActualCount" property="ldNiuactualcount" jdbcType="DECIMAL" />
    <result column="ld_cowHerdsCount" property="ldCowherdscount" jdbcType="DECIMAL" />
    <result column="ld_cowShuldCount" property="ldCowshuldcount" jdbcType="DECIMAL" />
    <result column="ld_cowActualCount" property="ldCowactualcount" jdbcType="DECIMAL" />
    <result column="ld_sheepHerdsCount" property="ldSheepherdscount" jdbcType="DECIMAL" />
    <result column="ld_sheepOShuldCount" property="ldSheeposhuldcount" jdbcType="DECIMAL" />
    <result column="ld_sheepOActualCount" property="ldSheepoactualcount" jdbcType="DECIMAL" />
    <result column="ld_sheepAShuldCount" property="ldSheepashuldcount" jdbcType="DECIMAL" />
    <result column="ld_sheepAActualCount" property="ldSheepaactualcount" jdbcType="DECIMAL" />
    <result column="ld_otherHerdsCount" property="ldOtherherdscount" jdbcType="DECIMAL" />
    <result column="ld_otherOShuldCount" property="ldOtheroshuldcount" jdbcType="DECIMAL" />
    <result column="ld_otherOActualCount" property="ldOtheroactualcount" jdbcType="DECIMAL" />
    <result column="ld_otherOIShuldCount" property="ldOtheroishuldcount" jdbcType="DECIMAL" />
    <result column="ld_otherOIActualCount" property="ldOtheroiactualcount" jdbcType="DECIMAL" />
    <result column="ld_pigOIShuldCount" property="ldPigoishuldcount" jdbcType="DECIMAL" />
    <result column="ld_pigOIActualCount" property="ldPigoiactualcount" jdbcType="DECIMAL" />
    <result column="ld_niuOAIShuldCount" property="ldNiuoaishuldcount" jdbcType="DECIMAL" />
    <result column="ld_niuOAIActualCount" property="ldNiuoaiactualcount" jdbcType="DECIMAL" />
    <result column="ld_sheepOAIShuldCount" property="ldSheepoaishuldcount" jdbcType="DECIMAL" />
    <result column="ld_sheepOAIActualCount" property="ldSheepoaiactualcount" jdbcType="DECIMAL" />
    <result column="fv_O3InactivatedUseCount" property="fvO3inactivatedusecount" jdbcType="DECIMAL" />
    <result column="fv_O3InactivatedStoreCount" property="fvO3inactivatedstorecount" jdbcType="DECIMAL" />
    <result column="fv_O3InactivatedSYearCount" property="fvO3inactivatedsyearcount" jdbcType="DECIMAL" />
    <result column="ld_niuAShuldCount" property="ldNiuashuldcount" jdbcType="DECIMAL" />
    <result column="ld_niuAActualCount" property="ldNiuaactualcount" jdbcType="DECIMAL" />
    <result column="ld_cowOAIShuldCount" property="ldCowoaishuldcount" jdbcType="DECIMAL" />
    <result column="ld_cowOAIActualCount" property="ldCowoaiactualcount" jdbcType="DECIMAL" />
    <result column="ld_sheepPDPRShuldCount" property="ldSheeppdprshuldcount" jdbcType="DECIMAL" />
    <result column="ld_sheepPDPRActualCount" property="ldSheeppdpractualcount" jdbcType="DECIMAL" />

    <result column="ld_NiuBruShuldCount" property="ldNiuBruShuldCount" jdbcType="DECIMAL" />
    <result column="ld_NiuBruActualCount" property="ldNiuBruActualCount" jdbcType="DECIMAL" />
    <result column="ld_SheepBruShuldCount" property="ldSheepBruShuldCount" jdbcType="DECIMAL" />
    <result column="ld_SheepBruActualCount" property="ldSheepBruActualCount" jdbcType="DECIMAL" />
    <result column="ld_SheepEchShuldCount" property="ldSheepEchShuldCount" jdbcType="DECIMAL" />
    <result column="ld_SheepEchActualCount" property="ldSheepEchActualCount" jdbcType="DECIMAL" />
    <result column="ld_OtherFmdaShuldCount" property="ldOtherFmdaShuldCount" jdbcType="DECIMAL" />
    <result column="ld_OtherFmdaActualCount" property="ldOtherFmdaActualCount" jdbcType="DECIMAL" />

  </resultMap>
  <select id="selectAllByDate" resultMap="BaseResultMap">
    select t1.Liv_regionCode as ld_regionCode ,t1.Liv_regionName as ld_regionName,t2.* from
    (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
    LEFT JOIN
    ( select  * from animal_disease.B_LivestockDensity
    where  ld_date BETWEEN  #{beginTime} AND #{endTime}
    ) as t2
    on t1.Liv_regionCode=t2.ld_regionCode
    ORDER  by t1.Liv_regionCode
  </select>
</mapper>