<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.LivestockInOutMapper">
    <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.LivestockInOut">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="livestock_id" property="livestockId" jdbcType="INTEGER"/>
        <result column="fill_id" property="fillId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="livestock_date" property="livestockDate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="herds_pig" property="herdsPig" jdbcType="DECIMAL"/>
        <result column="herds_niu" property="herdsNiu" jdbcType="DECIMAL"/>
        <result column="herds_sheep" property="herdsSheep" jdbcType="DECIMAL"/>
        <result column="herds_other" property="herdsOther" jdbcType="DECIMAL"/>
        <result column="herds_chicken" property="herdsChicken" jdbcType="DECIMAL"/>
        <result column="herds_duck" property="herdsDuck" jdbcType="DECIMAL"/>
        <result column="herds_goose" property="herdsGoose" jdbcType="DECIMAL"/>
        <result column="herds_other_q" property="herdsOtherQ" jdbcType="DECIMAL"/>
        <result column="immune_bird_flu_checken" property="immuneBirdFluChecken" jdbcType="DECIMAL"/>
        <result column="immune_bird_flu_duck" property="immuneBirdFluDuck" jdbcType="DECIMAL"/>
        <result column="immune_bird_flu_goose" property="immuneBirdFluGoose" jdbcType="DECIMAL"/>
        <result column="immune_bird_flu_other" property="immuneBirdFluOther" jdbcType="DECIMAL"/>
        <result column="immune_afmd_niu" property="immuneAfmdNiu" jdbcType="DECIMAL"/>
        <result column="immune_afmd_sheep" property="immuneAfmdSheep" jdbcType="DECIMAL"/>
        <result column="immune_blue_ear" property="immuneBlueEar" jdbcType="DECIMAL"/>
        <result column="immune_swine" property="immuneSwine" jdbcType="DECIMAL"/>
        <result column="immune_new_castle" property="immuneNewCastle" jdbcType="DECIMAL"/>
        <result column="immune_fmd_pig" property="immuneFmdPig" jdbcType="DECIMAL"/>
        <result column="immune_fmd_niu" property="immuneFmdNiu" jdbcType="DECIMAL"/>
        <result column="immune_fmd_sheep" property="immuneFmdSheep" jdbcType="DECIMAL"/>
        <result column="immune_fmd_other" property="immuneFmdOther" jdbcType="DECIMAL"/>
    </resultMap>
    <delete id="deleteByFillIdAndOrgId">
        delete from animal_disease.d_livestock_in_out where fill_id=#{fillId} and org_id=#{orgId}
    </delete>
    <select id="selectOneByFillIdAndOrgId" resultMap="BaseResultMap">
        select * from animal_disease.d_livestock_in_out where fill_id=#{fillId} and org_id=#{orgId}
    </select>
    <select id="selectByFillIdGroupByOrgId" resultMap="BaseResultMap">
       select * from animal_disease.d_livestock_in_out where fill_id=#{fillId} order by org_id
    </select>
    <select id="selectSumByFillId" resultMap="BaseResultMap">
        select
        ifnull(sum(herds_pig),0) herds_pig,
        ifnull(sum(herds_niu),0) herds_niu,
        ifnull(sum(herds_sheep),0) herds_sheep,
        ifnull(sum(herds_other),0) herds_other,
        ifnull(sum(herds_chicken),0) herds_chicken,
        ifnull(sum(herds_duck),0) herds_duck,
        ifnull(sum(herds_goose),0) herds_goose,
        ifnull(sum(herds_other_q),0) herds_other_q,
        ifnull(sum(immune_bird_flu_checken),0) immune_bird_flu_checken,
        ifnull(sum(immune_bird_flu_duck),0) immune_bird_flu_duck,
        ifnull(sum(immune_bird_flu_goose),0) immune_bird_flu_goose,
        ifnull(sum(immune_bird_flu_other),0) immune_bird_flu_other,
        ifnull(sum(immune_afmd_niu),0) immune_afmd_niu,
        ifnull(sum(immune_afmd_sheep),0) immune_afmd_sheep,
        ifnull(sum(immune_blue_ear),0) immune_blue_ear,
        ifnull(sum(immune_swine),0) immune_swine,
        ifnull(sum(immune_new_castle),0) immune_new_castle,
        ifnull(sum(immune_fmd_pig),0) immune_fmd_pig,
        ifnull(sum(immune_fmd_niu),0) immune_fmd_niu,
        ifnull(sum(immune_fmd_sheep),0) immune_fmd_sheep,
        ifnull(sum(immune_fmd_other),0) immune_fmd_other
        from animal_disease.d_livestock_in_out where fill_id=#{fillId} order by org_id
    </select>
</mapper>
