<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.NewcastleMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Newcastle" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="nc_id" property="ncId" jdbcType="CHAR" />
    <result column="nc_reportId" property="ncReportid" jdbcType="CHAR" />
    <result column="nc_date" property="ncDate" jdbcType="TIMESTAMP" />
    <result column="nc_regionCode" property="ncRegioncode" jdbcType="VARCHAR" />
    <result column="nc_regionName" property="ncRegionname" jdbcType="VARCHAR" />
    <result column="nc_inactivatedVaccine" property="ncInactivatedvaccine" jdbcType="DECIMAL" />
    <result column="nc_inactivatedImmuneAmount" property="ncInactivatedimmuneamount" jdbcType="DECIMAL" />
    <result column="nc_inactivatedShouldAmount" property="ncInactivatedshouldamount" jdbcType="DECIMAL" />
    <result column="nc_jointImmuneAmount" property="ncJointimmuneamount" jdbcType="DECIMAL" />
    <result column="nc_jointShouldAmount" property="ncJointshouldamount" jdbcType="DECIMAL" />
    <result column="nc_jointVaccine" property="ncJointvaccine" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(nc_inactivatedVaccine) nc_inactivatedVaccine,
    sum(nc_inactivatedImmuneAmount) nc_inactivatedImmuneAmount,
    sum(nc_jointVaccine) nc_jointVaccine,
    sum(nc_jointImmuneAmount) nc_jointImmuneAmount
    from animal_disease.b_newcastle
    where nc_regionCode=#{regionCode} AND nc_date BETWEEN  #{beginTime} AND #{endTime}
  </select>
  <select id="selectAllByDate" resultMap="BaseResultMap">
     select t1.Liv_regionCode as nc_regionCode ,t1.Liv_regionName as nc_regionName,t2.* from
    (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
    LEFT JOIN
    (select
    nc_regionCode,
    sum(nc_inactivatedVaccine) nc_inactivatedVaccine,
    sum(nc_inactivatedImmuneAmount) nc_inactivatedImmuneAmount,
    sum(nc_jointVaccine) nc_jointVaccine,
    sum(nc_jointImmuneAmount) nc_jointImmuneAmount
    from animal_disease.b_newcastle
    where  nc_date BETWEEN  #{beginTime} AND #{endTime}
    GROUP  by nc_regionCode
     ) as t2
    on t1.Liv_regionCode=t2.nc_regionCode
    ORDER  by t1.Liv_regionCode
  </select>
</mapper>