<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.VaccineorderMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Vaccineorder" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ReportId" property="reportid" jdbcType="CHAR" />
    <result column="VaccineOrderId" property="vaccineorderid" jdbcType="CHAR" />
    <result column="regionCode" property="regioncode" jdbcType="VARCHAR" />
    <result column="regionName" property="regionname" jdbcType="VARCHAR" />
    <result column="Date" property="date" jdbcType="TIMESTAMP" />
    <result column="ev_FMOInactivatedD" property="evFmoinactivatedd" jdbcType="DECIMAL" />
    <result column="ev_FMOInactivatedDH" property="evFmoinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_FMOInactivatedX" property="evFmoinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_FMOSyntheticD" property="evFmosyntheticd" jdbcType="DECIMAL" />
    <result column="ev_FMOSyntheticDH" property="evFmosyntheticdh" jdbcType="DECIMAL" />
    <result column="ev_FMOSyntheticX" property="evFmosyntheticx" jdbcType="DECIMAL" />
    <result column="ev_FMOSInactivatedD" property="evFmosinactivatedd" jdbcType="DECIMAL" />
    <result column="ev_FMOSInactivatedDH" property="evFmosinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_FMOSInactivatedX" property="evFmosinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_FMOASD" property="evFmoasd" jdbcType="DECIMAL" />
    <result column="ev_FMOASDH" property="evFmoasdh" jdbcType="DECIMAL" />
    <result column="ev_FMOASX" property="evFmoasx" jdbcType="DECIMAL" />
    <result column="ev_FMOAD" property="evFmoad" jdbcType="DECIMAL" />
    <result column="ev_FMOADH" property="evFmoadh" jdbcType="DECIMAL" />
    <result column="ev_FMOAX" property="evFmoax" jdbcType="DECIMAL" />
    <result column="ev_AIRLH5D" property="evAirlh5d" jdbcType="DECIMAL" />
    <result column="ev_AIRLH5DH" property="evAirlh5dh" jdbcType="DECIMAL" />
    <result column="ev_AIRLH5X" property="evAirlh5x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5Re4D" property="evAih5n1re5re4d" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5Re4DH" property="evAih5n1re5re4dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5Re4X" property="evAih5n1re5re4x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re4D" property="evAih5n1re4d" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re4DH" property="evAih5n1re4dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re4X" property="evAih5n1re4x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5D" property="evAih5n1re5d" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5DH" property="evAih5n1re5dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re5X" property="evAih5n1re5x" jdbcType="DECIMAL" />
    <result column="ev_AIH5H9D" property="evAih5h9d" jdbcType="DECIMAL" />
    <result column="ev_AIH5H9DH" property="evAih5h9dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5H9X" property="evAih5h9x" jdbcType="DECIMAL" />
    <result column="ev_BED" property="evBed" jdbcType="DECIMAL" />
    <result column="ev_BEDH" property="evBedh" jdbcType="DECIMAL" />
    <result column="ev_BEX" property="evBex" jdbcType="DECIMAL" />
    <result column="ev_BEInactivatedD" property="evBeinactivatedd" jdbcType="DECIMAL" />
    <result column="ev_BEInactivatedDH" property="evBeinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_BEInactivatedX" property="evBeinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_CSD" property="evCsd" jdbcType="DECIMAL" />
    <result column="ev_CSDH" property="evCsdh" jdbcType="DECIMAL" />
    <result column="ev_CSX" property="evCsx" jdbcType="DECIMAL" />
    <result column="ev_CSPassageD" property="evCspassaged" jdbcType="DECIMAL" />
    <result column="ev_CSPassageDH" property="evCspassagedh" jdbcType="DECIMAL" />
    <result column="ev_CSPassageX" property="evCspassagex" jdbcType="DECIMAL" />
    <result column="ev_NCInactivatedD" property="evNcinactivatedd" jdbcType="DECIMAL" />
    <result column="ev_NCInactivatedDH" property="evNcinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_NCInactivatedX" property="evNcinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_NCWeakD" property="evNcweakd" jdbcType="DECIMAL" />
    <result column="ev_NCWeakDH" property="evNcweakdh" jdbcType="DECIMAL" />
    <result column="ev_NCWeakX" property="evNcweakx" jdbcType="DECIMAL" />
    <result column="ev_FMO3InactivatedD" property="evFmo3inactivatedd" jdbcType="DECIMAL" />
    <result column="ev_FMO3InactivatedDH" property="evFmo3inactivateddh" jdbcType="DECIMAL" />
    <result column="ev_FMO3InactivatedX" property="evFmo3inactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllFMOInactivatedDH" property="evAllfmoinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_AllFMOInactivatedX" property="evAllfmoinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllFMOSyntheticDH" property="evAllfmosyntheticdh" jdbcType="DECIMAL" />
    <result column="ev_AllFMOSyntheticX" property="evAllfmosyntheticx" jdbcType="DECIMAL" />
    <result column="ev_AllFMOSInactivatedDH" property="evAllfmosinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_AllFMOSInactivatedX" property="evAllfmosinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllFMOASDH" property="evAllfmoasdh" jdbcType="DECIMAL" />
    <result column="ev_AllFMOASX" property="evAllfmoasx" jdbcType="DECIMAL" />
    <result column="ev_AllFMO3InactivatedDH" property="evAllfmo3inactivateddh" jdbcType="DECIMAL" />
    <result column="ev_AllFMO3InactivatedX" property="evAllfmo3inactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllFMOADH" property="evAllfmoadh" jdbcType="DECIMAL" />
    <result column="ev_AllFMOAX" property="evAllfmoax" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re4DH" property="evAllaih5n1re4dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re4X" property="evAllaih5n1re4x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re5DH" property="evAllaih5n1re5dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re5X" property="evAllaih5n1re5x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re5Re4DH" property="evAllaih5n1re5re4dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re5Re4X" property="evAllaih5n1re5re4x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5H9DH" property="evAllaih5h9dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5H9X" property="evAllaih5h9x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6DH" property="evAih5n1re6dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6DH" property="evAllaih5n1re6dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6X" property="evAih5n1re6x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6X" property="evAllaih5n1re6x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re7DH" property="evAih5n1re7dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re7DH" property="evAllaih5n1re7dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re7X" property="evAih5n1re7x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re7X" property="evAllaih5n1re7x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re7DH" property="evAih5n1re6re7dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re7DH" property="evAllaih5n1re6re7dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re7X" property="evAih5n1re6re7x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re7X" property="evAllaih5n1re6re7x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re8DH" property="evAih5n1re6re8dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re8DH" property="evAllaih5n1re6re8dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re8X" property="evAih5n1re6re8x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re8X" property="evAllaih5n1re6re8x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re7Re8DH" property="evAih5n1re6re7re8dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re7Re8DH" property="evAllaih5n1re6re7re8dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N1Re6Re7Re8X" property="evAih5n1re6re7re8x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N1Re6Re7Re8X" property="evAllaih5n1re6re7re8x" jdbcType="DECIMAL" />
    <result column="ev_AIH5N2D7DH" property="evAih5n2d7dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N2D7DH" property="evAllaih5n2d7dh" jdbcType="DECIMAL" />
    <result column="ev_AIH5N2D7X" property="evAih5n2d7x" jdbcType="DECIMAL" />
    <result column="ev_AllAIH5N2D7X" property="evAllaih5n2d7x" jdbcType="DECIMAL" />
    <result column="ev_AllAIRLH5DH" property="evAllairlh5dh" jdbcType="DECIMAL" />
    <result column="ev_AllAIRLH5X" property="evAllairlh5x" jdbcType="DECIMAL" />
    <result column="ev_AllBEInactivatedDH" property="evAllbeinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_AllBEInactivatedX" property="evAllbeinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllBEDH" property="evAllbedh" jdbcType="DECIMAL" />
    <result column="ev_AllBEX" property="evAllbex" jdbcType="DECIMAL" />
    <result column="ev_AllCSDH" property="evAllcsdh" jdbcType="DECIMAL" />
    <result column="ev_AllCSX" property="evAllcsx" jdbcType="DECIMAL" />
    <result column="ev_AllCSPassageDH" property="evAllcspassagedh" jdbcType="DECIMAL" />
    <result column="ev_AllCSPassageX" property="evAllcspassagex" jdbcType="DECIMAL" />
    <result column="ev_AllNCInactivatedDH" property="evAllncinactivateddh" jdbcType="DECIMAL" />
    <result column="ev_AllNCInactivatedX" property="evAllncinactivatedx" jdbcType="DECIMAL" />
    <result column="ev_AllNCWeakDH" property="evAllncweakdh" jdbcType="DECIMAL" />
    <result column="ev_AllNCWeakX" property="evAllncweakx" jdbcType="DECIMAL" />
    <result column="ev_PDPRDH" property="evPdprdh" jdbcType="DECIMAL" />
    <result column="ev_AllPDPRDH" property="evAllpdprdh" jdbcType="DECIMAL" />
    <result column="ev_PDPRX" property="evPdprx" jdbcType="DECIMAL" />
    <result column="ev_AllPDPRX" property="evAllpdprx" jdbcType="DECIMAL" />
    <result column="ev_BrucellaS2DH" property="evBrucellas2dh" jdbcType="DECIMAL" />
    <result column="ev_AllBrucellaS2DH" property="evAllbrucellas2dh" jdbcType="DECIMAL" />
    <result column="ev_BrucellaS2X" property="evBrucellas2x" jdbcType="DECIMAL" />
    <result column="ev_AllBrucellaS2X" property="evAllbrucellas2x" jdbcType="DECIMAL" />
    <result column="ev_BrucellaA19DH" property="evBrucellaa19dh" jdbcType="DECIMAL" />
    <result column="ev_AllBrucellaA19DH" property="evAllbrucellaa19dh" jdbcType="DECIMAL" />
    <result column="ev_BrucellaA19X" property="evBrucellaa19x" jdbcType="DECIMAL" />
    <result column="ev_AllBrucellaA19X" property="evAllbrucellaa19x" jdbcType="DECIMAL" />
    <result column="ev_SheepHydatidDH" property="evSheephydatiddh" jdbcType="DECIMAL" />
    <result column="ev_AllSheepHydatidDH" property="evAllsheephydatiddh" jdbcType="DECIMAL" />
    <result column="ev_SheepHydatidX" property="evSheephydatidx" jdbcType="DECIMAL" />
    <result column="ev_AllSheepHydatidX" property="evAllsheephydatidx" jdbcType="DECIMAL" />
  </resultMap>
</mapper>