<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.template.dao.WclassicalswinefeverMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.template.model.Wclassicalswinefever" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="csf_id" property="csfId" jdbcType="CHAR" />
    <result column="csf_reportId" property="csfReportid" jdbcType="CHAR" />
    <result column="csf_date" property="csfDate" jdbcType="TIMESTAMP" />
    <result column="csf_regionCode" property="csfRegioncode" jdbcType="VARCHAR" />
    <result column="csf_regionName" property="csfRegionname" jdbcType="VARCHAR" />
    <result column="csf_vaccine" property="csfVaccine" jdbcType="DECIMAL" />
    <result column="csf_immuneAmount" property="csfImmuneamount" jdbcType="DECIMAL" />
    <result column="csf_shouldAmount" property="csfShouldamount" jdbcType="DECIMAL" />
  </resultMap>

<select id="selectLivestockInOutByReportId" resultMap="BaseResultMap">
select * from animal_disease.b_wlivestockinout where ReportId=#{reportId}
</select>
  <select id="selectSumByReportCode" resultMap="BaseResultMap">
    select
    sum(csf_vaccine) csf_vaccine,
    sum(csf_immuneAmount) csf_immuneAmount,
    sum(csf_shouldAmount) csf_shouldAmount
    from animal_disease.b_wclassicalswinefever
    where csf_regionCode=#{regionCode} AND csf_date BETWEEN  #{beginTime} AND #{endTime}
  </select>
  <select id="selectAllByDate" resultMap="BaseResultMap">
 select t1.Liv_regionCode as csf_regionCode ,t1.Liv_regionName as csf_regionName,t2.* from
      (select Liv_regionCode,Liv_regionName   from animal_disease.b_wlivestockinout  GROUP  by  Liv_regionCode,Liv_regionName ) as t1
      LEFT JOIN
     (
    select
    csf_regionCode,
    sum(csf_vaccine) csf_vaccine,
    sum(csf_immuneAmount) csf_immuneAmount,
    sum(csf_shouldAmount) csf_shouldAmount  from animal_disease.b_wclassicalswinefever
     where  csf_date BETWEEN  #{beginTime} AND #{endTime}
     GROUP  by  csf_regionCode
     ) as t2
      on t1.Liv_regionCode=t2.csf_regionCode
      ORDER  by t1.Liv_regionCode
  </select>
</mapper>