<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.animald.dao.OrgInfoMapper">
    <resultMap id="BaseResultMap" type="com.topie.database.core.animald.model.OrgInfo">
        <id column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
        <result column="token_code" property="tokenCode" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="TreeNodeMap" type="com.topie.common.utils.TreeNode">
        <id column="org_id" property="id" jdbcType="INTEGER"/>
        <result column="pid" property="pId" jdbcType="INTEGER"/>
        <result column="org_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectTreeNodes" resultMap="TreeNodeMap">
        select 0 pid,org_id,org_name from animal_disease.d_org_info
        <where>
            <if test="orgName!=null">
                and org_name like concat(concat('%',#{orgName}),'%')
            </if>
        </where>
    </select>
</mapper>
