<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.animald.dao.ReFillMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.animald.model.ReFill" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fill_id" property="fillId" jdbcType="INTEGER" />
    <result column="display_title" property="displayTitle" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
  </resultMap>
</mapper>
