<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.animald.dao.ReportFillMapper">
    <resultMap id="BaseResultMap" type="com.topie.database.core.animald.model.ReportFill">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="report_id" property="reportId" jdbcType="INTEGER"/>
        <result column="display_title" property="displayTitle" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="TreeNodeMap" type="com.topie.common.utils.TreeNode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pid" property="pId" jdbcType="INTEGER"/>
        <result column="display_title" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectTreeNodes" resultMap="TreeNodeMap">
        select 0 pid,id,display_title from animal_disease.d_report_fill
        <where>
            <if test="displayTitle!=null">
                and display_title like concat('%',concat(#{displayTitle},'%'))
            </if>
        </where>
    </select>
</mapper>
