<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.database.core.animald.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.topie.database.core.animald.model.UserInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
  </resultMap>
</mapper>
