<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.system.dao.FunctionMapper">
    <resultMap id="BaseResultMap" type="com.topie.database.core.system.model.Function">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="function_name" property="functionName" jdbcType="VARCHAR"/>
        <result column="display" property="display" jdbcType="BIT"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="action" property="action" jdbcType="VARCHAR"/>
        <result column="function_desc" property="functionDesc" jdbcType="INTEGER"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="TreeNodeMap" type="com.topie.common.utils.TreeNode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="pId" jdbcType="INTEGER"/>
        <result column="function_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, function_name, display, state, icon, action, function_desc, insert_time, update_time
    </sql>
    <delete id="deleteRoleFunctionByFunctionId">
        delete from d_role_function where function_id=#{id}
    </delete>
    <select id="selectFunctionTreeNodes" resultMap="TreeNodeMap">
        select id,parent_id,function_name from d_function
        <where>
            <if test="functionName!=null and functionName!=''">
                function_name like concat('%',concat(#{functionName},'%'))
            </if>
            <if test="display!=null">
                display = #{display}
            </if>
        </where>
    </select>
    <select id="findFunctionList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_function
        <where>
            <if test="parentId!=null">
                parent_id = #{parentId}
            </if>
            <if test="display!=null">
                display = #{display}
            </if>
            <if test="functionName!=null and functionName!=''">
                function_name like concat('%',concat(#{functionName},'%'))
            </if>
        </where>
        <if test="sort_ != null and sort_ != ''">
            ${sort_}
        </if>
    </select>
    <select id="findRoleIdsByFunctionId" resultType="java.lang.Integer">
        select distinct role_id from d_role_function where function_id=#{functionId}
    </select>

</mapper>
