<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.database.core.animal.dao.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.topie.database.core.animal.model.Template" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="normal_template" property="normalTemplate" jdbcType="VARCHAR" />
    <result column="summary_template" property="summaryTemplate" jdbcType="VARCHAR" />
    <result column="report_cycle" property="reportCycle" jdbcType="SMALLINT" />
    <result column="report_type" property="reportType" jdbcType="SMALLINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
</mapper>